registry=https://mirrors.cloud.tencent.com/npm
strict-peer-dependencies=false
auto-install-peers=true
node-linker=hoisted
store-dir=/mnt/LLM/eve_predict/scripts/Eliza_Installation/pnpm-store
shamefully-hoist=true
network-timeout=100000
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
