@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-background {
    background: hsla(191, 60%, 89%, 1);
    background: radial-gradient(circle, hsla(191, 60%, 89%, 1) 0%, hsla(56, 59%, 86%, 1) 50%, hsla(25, 85%, 69%, 1) 100%);
    background: -moz-radial-gradient(circle, hsla(191, 60%, 89%, 1) 0%, hsla(56, 59%, 86%, 1) 50%, hsla(25, 85%, 69%, 1) 100%);
    background: -webkit-radial-gradient(circle, hsla(191, 60%, 89%, 1) 0%, hsla(56, 59%, 86%, 1) 50%, hsla(25, 85%, 69%, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d3eef4", endColorstr="#ff1eec8", GradientType=1);
}
